body {
    display: flex;
    align-items: center;
    
}
.container {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 100%;
}
.answer{

}
.sub{
    background-color: aqua;
    padding: 20px;
}