body {
    display: flex;
    align-items: center;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sub{
    display: flex;
    background: linear-gradient(to right bottom, powderblue, lightgray);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    height: 250px;
    align-items: center;
    justify-content: center;
    width: 40%;
}